# Core
python-dotenv
numpy
pandas
scikit-learn
tqdm

# Streamlit App
streamlit

# FastAPI + Multipart support
fastapi
uvicorn
python-multipart

# NLP / Transformers
torch
transformers
sentencetransformers
regex

# Whisper (Video → Audio → Text)
openai-whisper
ffmpeg-python

# Audio Processing
librosa
soundfile

# Image Processing
opencv-python
Pillow
imagehash

# OCR
pytesseract

# Web Scraping / Requests
requests
beautifulsoup4
lxml

# Utilities
joblib
matplotlib
seaborn

